*{
    font-family: 'Poppins';
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.container{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding:0 15px 0 15px;
}
.input{
    height: 25px;
    width: 87%;
    border: none;
    outline: none;
    border-radius: 30px;
    padding: 0 0 0 45px;
    background-color: rgba(109, 109, 109, 0.718);
    padding: 10px;
    margin: 10px;
}